<?xml version="1.0" encoding="UTF-8"?>

<events>

	<event id="36">
		<title>Doctor Groove e Silvia Bianco al Circolino</title>
		<date>14 maggio 2014</date>
		<body>Brani inediti con la Silvia Bianco alla Voce
		
		<br/>
Corso Prestinari 193, Vercelli 13100 <br/>
<br/>
Vi aspettiamo Numerosi 

		</body>
	</event>


	<event id="35">
		<title>Circolo dei Lavoratori di Porta Torino - Vercelli</title>
		<date>1 Maggio 2013</date>
		<body>
			I Doctor Groove in versione Live al Circolo dei Lavoratori di Porta Torino<br/>
<br/>
Corso Prestinari 193, Vercelli 13100 <br/>
<br/>
Vi aspettiamo Numerosi 
		</body>   
	</event>
	
	
	<event id="34">
		<title>Circolo dei Lavoratori di Porta Torino - Vercelli</title>
		<date>15 Marzo 2013</date>
		<body>
			I Doctor Groove in versione Live al Circolo dei Lavoratori di Porta Torino<br/>
<br/>
Corso Prestinari 193, Vercelli 13100 <br/>
<br/>
Vi aspettiamo Numerosi 
		</body>
	</event>
	

	<event id="33">
		<title>Circolo dei Lavoratori di Porta Torino - Vercelli</title>
		<date>08 dicembre 2012</date>
		<body>
			I Doctor Groove in versione Live al Circolo dei Lavoratori di Porta Torino<br/>
<br/>
Corso Prestinari 193, Vercelli 13100 <br/>
<br/>
Vi aspettiamo Numerosi 
		</body>
	</event>
	
	
	<event id="32">
		<title>Festa di Inizio Estate - Santhià (VC)</title>
		<date>30 giugno 2012</date>
		<body>
			L’amministrazione comunale di Santhià organizza per sabato 30 giugno la “Festa di inizio estate” presso il parco Jacopo Durandi.<br/>
<br/>
L’appuntamento prenderà il via già nel pomeriggio: dalle 15 in poi (fino alle 22) nel piazzale Giovanni XXIII, quello delle scuole medie, saranno allestiti per i bambini i giochi con gli scivoli gonfiabili , inoltre sono previsti momenti di animazione, sorprese per i più piccoli e la pizza alle 17.<br/>
<br/>
Alle 19.30 nella ’rotonda dei viali’ si comincerà a suonare: di scena il gruppo musicale “Hard.diti” e poi, dopo uno spuntino in compagnia a base di penne all’arrabbiata, si potrà ammirare l’esibizione del gruppo canoro di canto moderno del Liceo Musicale. A seguire la serata sarà allietata del gruppo musicale “doctor Groove”.<br/>
<br/>
“Sarà un modo per passare un po’ di tempo insieme – commenta il sindaco Angelo Cappuccio – i giochi dei bimbi, ma soprattutto, a sera, la frescura dei viali, la magia dell’estate che incombe, la musica piacevole faranno da sfondo a un momento di piacevole relax per scambiare qualche chiacchiera e fare quattro passi all’aperto”.<br/>
		</body>
	</event>
	

	<event id="31">
		<title>Serata Acustica - Chocolate Caffè - Pezzana VC</title>
		<date>26 maggio 2012</date>
		<body>
			Serata Acustica - Chocolate Caffè - Pezzana VC<br/>
<br/>
Serata Particolare!!<br/>
<br/>
 <br/>

Live Acustico al Chocolate Caffè a Pezzana sulla Statale tra Vercelli e Casale Monferrato, inizio serata alle ore 22:00.<br/>
<br/>
 <br/>

vi aspettiamo!!! 
		</body>
	</event>
	
	<event id="30">
		<title>Saluggia (VC) - Live contro il Nucleare</title>
		<date>16 aprile 2011</date>
		<body>
			Doctor Groove Live parteciperanno al pomeriggio contro il nucleare a Saluggia (VC) a partire dalle 15:00 nella piazza del Comune.
		</body>
	</event>
	
	<event id="29">
		<title>Radio Risaia Sud - Video Live</title>
		<date>16 novembre 2010</date>
		<body>
			Radio Risaia Sud - Video Live<br/>
			<br/>
			Realizzerremo un videoclip con i Radio Risaia Sud
			<a href="http://www.youtube.com/watch?v=TeQXabhI1eg">Da Vedere</a>
		</body>
	</event>
	
	<event id="28">
		<title>Circolo Rionale Oremo Biella</title>
		<date>28 agosto 2010</date>
		<body>
			Live al Circolo Rionale Oremo Via Oropa,8 Occhieppo Inferiore BI 13897 015 590785
		</body>
	</event>
	
	<event id="27">
		<title>VERCELLI - Rock Art ai Cappuccini</title>
		<date>20 giugno 2010</date>
		<body>
			Live al parco “Baden Powell” Vercelli 13100 orario pomeridiano da definirsi
		</body>
	</event>
	

	<event id="26">
		<title>Radio Risaia Sud - Biandrate (NO)</title>
		<date>30 gennaio 2010</date>
		<body>
			Serata Live con i Doctor Groove in Versione Radio Risaia Sud <br/>
<br/>
Il Comune in collaborazione con la Pro Loco di Biandrate organizza, sabato 30 gennaio p.v, presso la sala mensa dell' Ex Villaggio Alta Velocità, una serata dal titolo "La qualità del riso piemontese: storia, tradizioni, curiosità<br/> 
<br/>
il programma:<br/> 
<br/>
ore 18,30 - Presentazione della serata.<br/> 
Breve introduzione sulla storia e sulle tradizioni legate al riso e al territorio di risaia.<br/> 
<br/>
A seguire - Proiezione del documentario "SORRISO AMARO" del regista Matteo Bellizzi, un viaggio lungo i sentieri della memoria in compagnia delle mondine che fecero la fortuna del celebre film di De Santis, il primo a raccontare la loro storia nel 48.<br/> 
"Il regista rintraccia le poche mondine ancora viventi di Nonantola, in Emilia, e le riporta in viaggio in autobus nelle stesse risaie vercellesi dove, da giovani, ogni primavera venivano ingaggiate come lavoratrici. <br/>
È dal loro incontro e dalle loro testimonianze che scaturisce la materia per il racconto. <br/>
Le donne, ormai signore mature, davanti alla telecamera si lasciano andare a vecchi ricordi, parlando a ruota libera di quella ormai lontana esperienza di lavoro e di vita.<br/> 
Le loro testimonianze sono intrecciate nel montaggio da immagini di vecchie fotografie che le ritraggono al lavoro e di fotografie che immortalano il lavoro di De Santis e della sua troupe, e da scene dello stesso film del 48
. E sono proprio i racconti delle mondine, che confrontano per noi la realtà e la finzione di quel film, ad offrirci un ritratto più fedele e realistico della realtà delle risaie degli anni 40-50. <br/>
Dimentichiamoci le scene sensuali della Mangano (che, parole delle mondine invidiose, guadagnava più di loro bagnandosi solo per un minuto i piedi nel fango), il boogie woogi con Gassman e le scazzottate di Raf Vallone.<br/>
Quella era, come ricordano le mondine, finzione, magia offerta dal cinema, un sogno anche per loro, perchè riuscivano, facendo le comparse, a guadagnare insperati soldini in pochi giorni.<br/>
La vera monda del riso è un altra cosa; è quella raccontata da loro stesse in prima persona, davanti alla telecamera di Matteo (come loro stesse chiamano il regista). <br/>
Queste donne, spinte proprio dalle immagini del film, che viene loro riproposto, e dall'occasione del viaggio nelle risaie, ricordano le loro esperienze con un pò di nostalgia e con tanta commozione, lasciando trasparire la stessa identica voglia di vivere di quando erano adolescenti.<br/>
Come se nulla fosse cambiato cantano e festeggiano allegramente il loro viaggio nella memoria in un mondo che ormai non esiste più, come traspare dal loro sorriso amaro quando scoprono nelle loro risaie diserbanti e trattori".<br/>
<br/>
Ore 19,30 incontro/dibattito con il regista Ore 20,00 Degustazione di risotti, intrattenimento musicale con I Radio Risaia Sud e momenti di lettura in dialetto a cura della Comunità Nuova Piemontese<br/> 
<br/>
<br/>
La serata richiede una prenotazione (mail: baraggioli@comune.biandrate.no.it) e ha un costo di 5 euro (degustazioni comprese).<br/>
		</body>
	</event>
	

	<event id="25">
		<title>Festa Provata - Santhià (VC)</title>
		<date>18 luglio 2009</date>
		<body>
			Live a Santhià - Festa privata per partecipare contattare la nostra info line
		</body>
	</event>
	

	<event id="24">
		<title>Area 24 - Vercelli (VC)</title>
		<date>24 maggio 2009</date>
		<body>
			Dalle ore 22.30 Doctor Groove + Sorella Maldestra
		</body>
	</event>


	<event id="23">
		<title>Maratona Rock - Vercelli</title>
		<date>24 maggio 2009</date>
		<body>
			dalle 19:30 per 20 minuti i Doctor Groove saranno presenti alla Maratona Rock di Vercelli VC con una pioggia di brani dei Pink Floyd
		</body>
	</event>
	
	<event id="22">
		<title>Radio Risaia Sud a San Germano Vercellese (VC)</title>
		<date>09 Maggio 2009</date>
		<body>
			I doctor groove in versione Radiorisaia Sud saranno in versione live a San Germano Vercellese all'ex cinema, inizio spettacolo ore 21:00 vi aspettiamo!
		</body>
	</event>
	
	<event id="21">
		<title>Festa della Birra - Santhià (VC)</title>
		<date>14 Novembre 2008</date>
		<body>
			Festa della Birra - Santhià
			<br />
			Piazzale Kennedy
			<br />
			Santhià VC 13048
			<br />
			Festa della Birra organizzata dalla Banda Musicale Santhià
			<br />

		</body>
	</event>


	<event id="20">
		<title>Gas Pub - Ronsecco (VC)</title>
		<date>24 Ottobre 2008</date>
		<body>Gus Pub a Ronsecco V. ROMA 35 13036 Ronsecco VC ore 22:00</body>
	</event>


	<event id="19">
		<title>Area 24 Vercelli (VC)</title>
		<date>24 Luglio 2008</date>
		<body>Zona ex-montefibre (VC) ore 22:00</body>
	</event>

	<event id="18">
		<title>Maratona Rock Vercelli (VC)</title>
		<date>27 Aprile 2008</date>
		<body>I Doctor Groove parteciperanno alla Maratona Rock nell'ambito
			della manifestazione della "Maratona del Riso" proposta dal comune di
			Vercelli. Inizio spettacolo ore 21:30 piazza del duomo.0</body>
	</event>

	<event id="16">
		<title>Cinecittà a Santhià (VC)</title>
		<date>2 Novembre 2007</date>
		<body>Serata Live con Doctor Groove alCinecittà di Santhià (VC)</body>
	</event>


	<event id="15">
		<title>Cinecittà a Santhià (VC)</title>
		<date>1 Giugno 2007</date>
		<body>Serata Live con Doctor Groove alCinecittà di Santhià (VC)</body>
	</event>

	<event id="14">
		<title>Monte Gregorio a Brosso (TO)</title>
		<date>26 Maggio 2007</date>
		<body>Serata Live con Doctor Groove alla Trattoria Monte Gregorio a
			Brosso (TO) (sopra Ivrea) Piazza Sclopis, 7</body>
	</event>

	<event id="13">
		<title>Alagaeisa Pub - Salussola (BI)</title>
		<date>05 Maggio 2007</date>
		<body>
			Serata Live al Alagaeisa Pub di Salussola (BI)
			<br />
			<br />
			http://www.gasolineworld.net
		</body>
	</event>

	<event id="12">
		<title>Gasoline - Cerreto (BI)</title>
		<date>27 Aprile 2007</date>
		<body>
			Serata Live al Gasoline Road Bar a Cerreto Castello in provincia di
			Biella.
			<br />
			<br />
			http://www.gasolineworld.net
		</body>
	</event>

	<event id="11">
		<title>Area 24 (VC)</title>
		<date>15 Febbraio 2007</date>
		<body>Zona ex-montefibre (VC) ore 22:00</body>
	</event>


	<event id="10">
		<title>Area 24 (VC)</title>
		<date>14 Dicembre 2006</date>
		<body>Zona ex-montefibre (VC) ore 22:00</body>
	</event>


	<event id="9">
		<title>Concorso Onda Rock</title>
		<date>05 Novembre 2006</date>
		<body>Concorso Onda Rock presso lo Shake Pub di Fara Novarese. Inizio
			spettacolo ore 22.00. I Doctor Groove si sfideranno con altri 2
			gruppi e solo 2 di questi verranno selezionati per passare alla fase
			successiva del concorso. I metodi di votazione sono di due tipologie,
			la parte tecnica e il voto del pubblico, quindi vi aspettiamo
			numerosi per darci il vostro sostegno.</body>
	</event>


	<event id="8">
		<title>Monte Gregorio a Brosso (TO)</title>
		<date>09 Settembre 2006</date>
		<body>Serata Live con Doctor Groove alla Trattoria Monte Gregorio a
			Brosso (TO) (sopra Ivrea) Piazza Sclopis, 7</body>
	</event>


	<event id="7">
		<title>Area 24 (VC)</title>
		<date>01 Giugno 2006</date>
		<body>Zona ex-montefibre (VC) ore 22:00</body>
	</event>


	<event id="6">
		<title>Beto Music Festival (NO)</title>
		<date>20 Maggio 2006</date>
		<body>Nell'ambito del concorso Beto Music i Doctor Groove sono stati
			selezionati per parteciperanno alle finali presso il Locale Ipanema
			Club di Pisogno (NO)</body>
	</event>


	<event id="5">
		<title>Officine Sonore (VC)</title>
		<date>5 Maggio 2006</date>
		<body>Officine Sonore (VC) - ore 22:00</body>
	</event>


	<event id="4">
		<title>Vergasco (BI) - Festa in Piazza</title>
		<date>22 Aprile 2006</date>
		<body>Vergasco (BI) - Festa in Piazza - ore 22:00</body>
	</event>


	<event id="3">
		<title>Teatro Civico (VC)</title>
		<date>30 Novembre 2005</date>
		<body>Teatro Civico (VC) - Serata Live con i Radio Risaia Sud</body>
	</event>

	<event id="2">
		<title>Andrate (TO) - Festa in Piazza</title>
		<date>5 Agosto 2005</date>
		<body>Andrate (TO) - Festa in Piazza - Serata Live inizio ore 22:00
		</body>
	</event>


	<event id="1">
		<title>Brosso (TO) - Trattoria Monte Gregorio</title>
		<date>5 marzo 2005</date>
		<body>Brosso (TO) - Trattoria Monte Gregorio - Serata Live inizio ore
			22:00</body>
	</event>


</events>